@font-face {
    font-family: 'Digital-7 Mono Italic';
    src: local('Digital-7 Mono Italic'), url(assets/digital-7\(italic\).woff);
}

* {
    box-sizing: border-box;
}

html, body {
    position:relative; 
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(images/purple_night.jpeg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1.2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Main calculator body **/
main {
    background-color: rgb(38, 44, 47);
    width: 420px;
    padding: 20px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    box-shadow: 0 10px black, 5px 10px black, -5px 10px black, 
    0 -3px black, -5px -3px black, 5px -3px black;
}

/** Header **/
h1 {
    font-size: 28px;
    margin: 0;
    color: white;
}

/** Display **/
.displayContainer {
    background-color: rgb(245, 245, 236);
    height: 120px;
    width: 390px;
    border: solid 2px black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 5px 5px rgb(148, 146, 167), inset -5px -5px rgb(148, 146, 167);
}
.equationDisplay, .resultDisplay {
    font-family: 'Digital-7 Mono Italic';
    font-weight: normal;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}
.equationDisplay {
    padding-top: 15px;
    font-size: 1.5em;
    height: 40px;
}
.resultDisplay {
    font-size: 4em;
    height: 80px;
}

/** Numbers and operations **/
.btnsContainer {
    display: grid;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: repeat(5, 4em);
    grid-gap: 10px;
    justify-content: center;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform .15s ease-out;
    font-size: 30px;
    background-color: rgb(208, 208, 220);
    box-shadow: 0 4px #47433f;
}
button:hover {
    transform: translateY(1px);
    box-shadow: 0 3px #47433f;
}
button:active, .active {
    filter: brightness(0.85);
    transform: translateY(3px);
    box-shadow: 0 1px;
}
.equalBtn {
    grid-column: span 2;
}
.numBtn, .dotBtn {
    color: white;
    background-color: rgb(145, 145, 195);
    box-shadow: 0 4px hsl(236, 21%, 30%);
}
.numBtn:hover, .dotBtn:hover {
    box-shadow: 0 3px hsl(236, 21%, 30%);
}
.numBtn:active, .dotBtn:active {
    box-shadow: 0 1px hsl(240, 7%, 20%);
}
.clearBtn, .backBtn {
    background-color: rgba(224, 35, 69, 0.967);
    box-shadow: 0 4px rgba(143, 33, 53, 0.967);
}
.clearBtn:hover, .backBtn:hover {
    box-shadow: 0 3px rgba(143, 33, 53, 0.967);
}
.clearBtn:active, .backBtn:active {
    box-shadow: 0 1px;
}
.backBtn img, .backBtn img:hover{
    height: 40px;
    /* Unknown reason why the img has a red line under it. Instead, use box-shadow 0 0 to hide it */
    box-shadow: 0 0; 
}

/***** FOOTER *****/
footer {
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 18px;
    background-color: rgb(102, 87, 122);
    padding: .6em;
}
footer img {
    position: relative;
    top: 3px;
    background-color: #f5f5f5;
    border-radius: 50%;
    height: 1.8em;
    transition: transform .5s ease-in-out;
}
footer img:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 560px){
    main {
        margin-top: -10px;
        width: 350px;
        box-shadow: 0 8px black, 4px 8px black, -4px 8px black, 
        0 -4px black, -4px -4px black, 4px -4px black;
    }
    h1 {
        font-size: 25px;
    }
    .displayContainer {
        height: 100px;
        width: 330px;
        border: solid 2px black;
        border-radius: 5px;
    }
    .equationDisplay {
        font-size: 1.2em;
        height: 40px;
    }
    .resultDisplay {
        font-size: 3em;
        height: 50px;
    }
    .btnsContainer {
        grid-template-columns: repeat(4, 4.5em);
        grid-template-rows: repeat(5, 4em);
        grid-gap: 10px;
        justify-content: center;
    }
    button {
        font-size: 25px;
    }
    footer {
        position: absolute;
        left: 0; right: 0; bottom: 0; 
    }
}

